doctype html
html
	head
		title Grid Experiment
		link(rel='stylesheet', href='/styles/main.css')
		script(data-main="scripts/main" src="scripts/require.js")
	body
		div#container
		h1 Oh, you got a pretty canvas right here!