@font-face {
  font-family: 'Proxima Nova';
  src: font-url('proxima-nova/proximanova-light-webfont.eot');
  src: local('Proxima Nova Light'), local('ProximaNovaLight'), font-url('proxima-nova/proximanova-light-webfont.woff') format('woff'), font-url('proxima-nova/proximanova-light-webfont.ttf') format('truetype'), font-url('proxima-nova/proximanova-light-webfont.svgz#webfontnoehejkg') format('svg'), font-url('proxima-nova/proximanova-light-webfont.svg#webfontnoehejkg') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: font-url('proxima-nova/proximanova-lightitalic-webfont.eot');
  src: local('Proxima Nova Light'), local('ProximaNovaLightIt'), font-url('proxima-nova/proximanova-lightitalic-webfont.woff') format('woff'), font-url('proxima-nova/proximanova-lightitalic-webfont.ttf') format('truetype'), font-url('proxima-nova/proximanova-lightitalic-webfont.svgz#webfontkflR1Ql4') format('svg'), font-url('proxima-nova/proximanova-lightitalic-webfont.svg#webfontkflR1Ql4') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: font-url('proxima-nova/proximanova-regular-webfont.eot');
  src: local('Proxima Nova'), local('ProximaNovaRegular'), font-url('proxima-nova/proximanova-regular-webfont.woff') format('woff'), font-url('proxima-nova/proximanova-regular-webfont.ttf') format('truetype'), font-url('proxima-nova/proximanova-regular-webfont.svgz#webfonteneA6i5M') format('svg'), font-url('proxima-nova/proximanova-regular-webfont.svg#webfonteneA6i5M') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: font-url('proxima-nova/proximanova-regularitalic-webfont.eot');
  src: local('Proxima Nova'), local('ProximaNovaRegularIt'), font-url('proxima-nova/proximanova-regularitalic-webfont.woff') format('woff'), font-url('proxima-nova/proximanova-regularitalic-webfont.ttf') format('truetype'), font-url('proxima-nova/proximanova-regularitalic-webfont.svgz#webfontpjOyaPQr') format('svg'), font-url('proxima-nova/proximanova-regularitalic-webfont.svg#webfontpjOyaPQr') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: font-url('proxima-nova/proximanova-semibold-webfont.eot');
  src: local('Proxima Nova Semibold'), local('ProximaNovaSemibold'), font-url('proxima-nova/proximanova-semibold-webfont.woff') format('woff'), font-url('proxima-nova/proximanova-semibold-webfont.ttf') format('truetype'), font-url('proxima-nova/proximanova-semibold-webfont.svgz#webfontW4Kw3XCi') format('svg'), font-url('proxima-nova/proximanova-semibold-webfont.svg#webfontW4Kw3XCi') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: font-url('proxima-nova/proximanova-semibolditalic-webfont.eot');
  src: local('Proxima Nova Semibold'), local('ProximaNovaSemiboldIt'), font-url('proxima-nova/proximanova-semibolditalic-webfont.woff') format('woff'), font-url('proxima-nova/proximanova-semibolditalic-webfont.ttf') format('truetype'), font-url('proxima-nova/proximanova-semibolditalic-webfont.svgz#webfont2KtTNzbY') format('svg'), font-url('proxima-nova/proximanova-semibolditalic-webfont.svg#webfont2KtTNzbY') format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: font-url('proxima-nova/proximanova-bold-webfont.eot');
  src: local('Proxima Nova'), local('ProximaNovaBold'), font-url('proxima-nova/proximanova-bold-webfont.woff') format('woff'), font-url('proxima-nova/proximanova-bold-webfont.ttf') format('truetype'), font-url('proxima-nova/proximanova-bold-webfont.svgz#webfontbFDweusv') format('svg'), font-url('proxima-nova/proximanova-bold-webfont.svg#webfontbFDweusv') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: font-url('proxima-nova/proximanova-boldit-webfont.eot');
  src: local('Proxima Nova'), local('ProximaNovaBoldIt'), font-url('proxima-nova/proximanova-boldit-webfont.woff') format('woff'), font-url('proxima-nova/proximanova-boldit-webfont.ttf') format('truetype'), font-url('proxima-nova/proximanova-boldit-webfont.svgz#webfontabbGNbdo') format('svg'), font-url('proxima-nova/proximanova-boldit-webfont.svg#webfontabbGNbdo') format('svg');
  font-weight: bold;
  font-style: italic;
}
